.emptyCell{
    width: 20px;
    height: 60px;
    padding: 12px;
    background-color:lightgrey;
    
}
.redPiece
{
    margin-top:auto;
    margin-left:auto;
    margin-bottom:auto; 
    margin-right:auto;
    width: 20px;
    height: 20px;
    padding: 12px;
    align-content: center;
    background:#99692f;
    background-color: brown;
    border: 3px solid white;
    border-radius: 20px;
}
.blackPiece
{
    margin-top:auto;
    margin-left:auto;
    margin-bottom:auto; 
    margin-right:auto;
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: black;
    border: 3px solid white;
    border-radius: 20px;
}

.whiteSpace{
background-color:#99692f;
}

.noPiece{
    background-color: grey;
    left:10px; 
    width:65px;
    height: 65px;
    		
}
td{
    background-color: grey;
    
}

table{
	position: relative;
	width: 640px;
	height: 640px;
	margin-left: auto ;
	margin-right: auto;

}
